/* Farbvariablen */
:root {
  --light-beige: #D6B896;
  --brown: #714E3A;
}

/* Grundstil */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Birthstone', sans-serif;
    height: 100%;
    background-color: #ece2d6;
}

/* ===== HEADER / NAV ===== */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0 1rem;
    z-index: 1000;
    font-size: 2rem;
    background-color: #ece2d6;
    width: 100%;          
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

/* Alle Links standardmäßig sichtbar auf Desktop */
.navbar > a {
    display: inline-block;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

/* Logo Größe */
.navbar .logo {
    width: 150px;
    height: auto;
}

/* ----------- BURGER BUTTON ----------- */
.burger {
    display: none; /* Desktop: unsichtbar */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
}

.burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    border-radius: 2px;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero-img{
    width:100%;
    height:100vh;
    object-fit:cover;
}

/* Overlay Text */
.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #D6B896;
    z-index: 5;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.55),   /* oben dunkler */
    rgba(0, 0, 0, 0.25),   /* Mitte */
    rgba(0, 0, 0, 0.55)    /* unten wieder dunkler */
  );
  z-index: 0;
}

.hero-overlay h1 {
    margin: 0;
    font-family: 'Birthstone', cursive;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    font-size: 9rem;
}
h1, h2, h3 {
    font-family: 'Birthstone', cursive;
    font-weight: 400;
}

#about,
#offers,
#media-carousel {
    background-color: #ece2d6;
}


/* ----------- Intro ----------- */
.intro{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:4rem;
    padding:6rem 10%;
    background:#d9c6b3;
    align-items:center;
}

.intro-img img{
    width:100%;
}

.intro-text h2{
    font-family:'Birthstone', cursive;
    font-size:3rem;
    color:#27466A;
}

.intro-text p{
    font-family:'Alumni Sans', sans-serif;
    font-size:1.3rem;
    line-height:1.6;
}

/* ----------- Packages ----------- */
.packages{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    padding:4rem 10%;
    background:#d9c6b3;
    text-align:center;
}

.package img{
    width:100%;
    height:250px;
    object-fit:cover;
    border:4px solid #7a2e2e;
}
.package h3{
    font-family:'Birthstone';
    font-size:2rem;
    color:#27466A;
}

.package p{
    font-family:'Alumni Sans';
}

.price{
    font-weight:bold;
}

/* ----------- Included ----------- */

.included{
    background:#7a2e2e;
    color:white;
    padding:3rem 10%;
}

.included h2{
    font-family:'Birthstone';
    font-size:2.5rem;
    text-align:center;
    margin-bottom:2rem;
}

.included ul{
    max-width:700px;
    margin:auto;
    list-style:disc;
    font-family:'Alumni Sans';
    font-size:1.2rem;
}


/* ----------- Video ----------- */
.video-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:3rem;
    padding:5rem 10%;
    background:#d9c6b3;
    align-items:center;
}

.video-img img{
    width:100%;
}

.video-text h3{
    font-family:'Birthstone';
    font-size:2.5rem;
}

/* ----------- Perfect Match ----------- */
.match{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:3rem;
    padding:5rem 10%;
    background:#d9c6b3;
    align-items:center;
}

.match-img img{
    width:100%;
}

.match-text h3{
    font-family:'Birthstone';
    font-size:2.5rem;
}

/* ---------- Like what you see ---------- */
#like-see .like {
  text-align: left;
}

#like-see .like p {
  font-family: "Birthstone", cursive;
  font-size: 4rem;
  color: #27466A;
  margin-bottom: 3rem;
  position: relative;
  top: -0.5px;
  z-index: 10;
}

#like-see .btn {
  text-decoration: none;
  color: #D6B896;
  background-color: #714E3A;
  padding: 0.9rem 2.2rem;
  border-radius: 0;
  font-weight: 400;
  font-size: 1.8rem;
  display: inline-block;
  transition: background 0.3s ease;
}

#like-see .btn:hover {
  background-color: #642226;
}


/* =========  FOOTER  ========= */
.footer {
  background-color: #ece2d6;
  padding: 1rem 1rem 1rem;
  text-align: center;
}

.footer-inner {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px; /* Abstand fein steuerbar */
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto 1rem;
}

.footer-nav {
  display: flex;
  gap: 20px;
  font-family: 'Birthstone', cursive;
  color: #642226;
}

.footer-nav.left {
  justify-content: flex-start;
}

.footer-nav.right {
  justify-content: flex-end;
}

.footer-nav a {
  text-decoration: none;
  color: var(--red);
  font-size: 1.7rem;
  transition: opacity 0.3s ease;
}

.footer-nav a:hover {
  opacity: 0.7;
}

/* Social Logos */
.socials {
  display: flex;
  gap: 18px;
}

.socials img {
  width: 88px;
  transition: transform 0.3s ease;
}

.socials a:hover img {
  transform: translateY(-3px);
}

/* Copyright */
.footer .copyright {
  font-family: 'Birthstone', cursive;
  color: var(--red);
  font-size: 1.1rem;
}


















/* =========  RESPONSIVE  ========= */

/*Header*/

@media (max-width: 768px) {

    /* Navbar vertikal, linksbündig */
    .navbar {
        flex-direction: column;
        align-items: flex-start; /* alles linksbündig */
        padding: 1rem;
        gap: 0.5rem;
        justify-content: flex-start; /* Burger oben links */
    }

    /* Burger sichtbar */
    .burger {
        display: flex;
        order: -1;       /* zuerst im Flex */
        margin-bottom: 1rem;
        cursor: pointer;
    }

    /* Logo zentriert unter Burger */
    .navbar .logo {
        margin: 0 auto 1rem auto;
        width: 120px;
    }

    /* Alle Links außer Logo ausblenden, wenn Menü geschlossen */
    .navbar > a:not(.logo) {
        display: none;
    }

    /* Menü offen: Links erscheinen alle linksbündig */
    .navbar.menu-open > a {
        display: block !important; /* wichtig: überschreibt display:none */
        width: 100%;
        text-align: left;
        padding: 1rem 0;
        background-color: #ece2d6;
        font-size: 1.8rem;
    }
}




/*Hero Section*/
@media (max-width: 480px) {
  .hero {
    height: 85vh;
  }

   .hero-overlay {
    top: 78%;
  }

  .hero-overlay h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
}

/* Like What You See Section */
@media (max-width: 480px) {

  /* Grid auf 1 Spalte umstellen */
  #like-see {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem 4rem;
    text-align: center;
  }

  /* Reihenfolge ändern */
  #like-see .like-images {
    order: 2;
    max-width: 100%;
    margin: 2rem auto;
  }

  #like-see .like {
    display: flex;
    flex-direction: column;
    align-items: center; /* ← DAS ist der Schlüssel */
  }

  /* Titel größer */
  #like-see .like p {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }


  /* Button groß & zentriert */
  #like-see .btn {
    display: inline-block;
    margin: 2.5rem auto 0;
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
  }
}

/* Footer */
@media (max-width: 768px) {

    .footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center; /* alles zentriert */
        gap: 1rem;
        padding: 1rem;
    }

    /* Footer-Navigation ausblenden */
    .footer-nav {
        display: none;
    }

    /* Social-Icons zentrieren */
    .socials {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    /* Copyright zentriert */
    .footer .copyright {
        text-align: center;
        margin-top: 0.5rem;
    }
}